# Fichiers système
.DS_Store
Thumbs.db
desktop.ini

# Éditeurs
.vscode/
.idea/
*.swp
*~

# Logs locaux
*.log

# Variables d'env (par sécurité, même si tout est en clair côté client)
.env
.env.*
!.env.example

